/* Put your CSS here */
.ember-application {
    margin: 20px;
}

div.map {
  width: 100%;
  height: 600px;
}

.marker-icon {
  background:#e31f3a;
  color: #FFF;
  text-align:center;
  vertical-align:middle;
  border:1px solid #FFF;
  border-radius:20px;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  z-index: 1000 !important;
  cursor: pointer;
}

.popup-col {
    width: 200px;
    float: left;
    background:white;
}

.popup-overview p {
}

.leaflet-container img.popup-logo {
  max-width:90px !important;
  max-height:70px;
  float: right;
}

.leaflet-container td.popup-logo {
  vertical-align: top;
}

div.company-overview {
  padding-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 13px;
}

div.company-overview p {
  font-size: 13px !important;
  line-height: 20px;
}

div.company-overview {
  height: 150px;
  width: 275px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

ul.company-stats {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

ul.company-stats li {
  display:inline;
}

ul.company-stats li h2 {
  display: inline-block;
  color: #000;
  margin: 0 0 0px;
  font-size: 19px;
  font-weight: bold;
  font-family: Lato !important;
  line-height: 8px;
}

ul.company-stats li h3 {
  display: inline-block;
  color: #000;
  margin: 0 0 0px;
  font-family: calibri;
  font-size: 13px;
  color: #babcc0;
}